/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $keycolor3;
	background-color: $keycolor1;
  	-webkit-font-smoothing: antialiased;
}


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

.img-link a:focus img,
.img-link a:active img,
.img-link a:hover img {
	@include hover-alpha;
}


a.link-internal {
	@include btn-txt-internal;
}

a:focus.link-internal , 
a:active.link-internal , 
a:hover.link-internal  {
	@include btn-txt-internal-hover;
}




/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $keycolor1;
}

.banner {
	height: 160px;
}

#vi {
	height: 140px;	
}

a.brand {
	padding-top: 50px;
	display: block;
	width: 224px;
	height: 43px;
}

a.brand:focus, 
a.brand:active, 
a.brand:hover {
	@include hover-alpha;
}


.search-form {
	padding-top: 4em;
}

.screen-reader-text {
	display: none;	
}

.search-form input[type="text"] {
 	width: 77%;
 	height: 30px;
 	margin-right: 3%;
 	float: left;
 	background-color: lighten($keycolor1, 8%);
	/* a focused input (or hovered on) */
	&:hover {
	background-color: $white;
	}
	
	&:focus,
	&:active {
	background-color: $white;
	}
}

.search-form input[type="submit"] {
	width: 20%;
	height: 30px;
	font-size: 90%;
	/* a focused input (or hovered on) */
	&:hover {
	background-color: lighten($keycolor1, 8%);
	}
	
	&:focus,
	&:active {
	background-color: lighten($keycolor1, 8%);
	}
  
}

/*
.about-link {
	margin-top: 67px;
	font-size: 10px;
}
*/


/* @group Header */

#header-main {
	float: left;
}


#header-sub {
	float: right;
}

.search-form {
	padding-top: 1em;
}

/* @end */


/* @group PRIMARY NAVIGATION STYLES */

ul#menu-primary-navigation {

}

ul#menu-primary-navigation li {
	float: left;
	list-style-type: none;
	margin-right: 10px;
	width: 15%;
}

ul#menu-primary-navigation li a {
	@include btn-pr;
	min-height: 80px;
}

ul#menu-primary-navigation li a:focus, 
ul#menu-primary-navigation li a:active, 
ul#menu-primary-navigation li a:hover {
	@include btn-pr-hover;
}

ul#menu-primary-navigation li.active a {
	@include btn-pr-stay;
}

ul#menu-primary-navigation li.current-post-parent a {

}

/* @end */





/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}


	}  /* end current highlighters */

} /* end .nav */






/* @group POSTS & CONTENT STYLES */

#container {
	overflow: hidden;
}

#content {
	/* margin-top: 1.5em; */
}

#inner-content {
	background-color: $white;
	@extend .border-radius;
	
}

.wp_social_bookmarking_light {
  background-color: #efefef;
  height: 40px;
}



		.hentry {
	/*
			background-color: $white;
			border-radius: 3px;

			margin-bottom: 1.5em;
			border: 1px solid $border-color;
			*/
			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			text-align: right;
			font-style: italic;
			margin: 0;
			font-size: 80%;
			time {}
		}

		.byline a {
			display: inline;
		}
		
		/* entry content */
		.entry-content {
			padding: 0em 1.5em 0 1.5em;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}



	// the tag output

	ul.entry-tags {
		display: block;
		clear: both;
		height: 20px;
		margin-bottom: 4px;
	}

	ul.entry-tags li {
		font-size: 14px;
		background-color: #dee0d5;
		float: left;
		margin-right: 4px;
		margin-bottom: 4px;
		list-style-type: none;
	}
	
	ul.entry-tags li i {
		margin-left: 5px;	
	}

	ul.entry-tags li a {
		text-decoration: none;
		padding: 2px 6px 2px 6px;
	}
	
	ul.entry-tags li a:focus, 
	ul.entry-tags li a:active, 
	ul.entry-tags li a:hover {
		color: #999999;
	}

/* @end */




/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}



	} /* end .wp-prev-next */



/* @group ARCHIVE */

h1.archive-title {
	font-size: 60%;
	padding: 2.5em;
}

.archive-main {

}

.archive-sub {
	/* background-color: #EEEEEE; */
	padding-bottom: 10000px;
	margin-bottom: -10000px;
	background: url("../images/bg_related-article-list.png") repeat-y;
}

/* @end */


/* @group ARCHIVE-MAIN */

h1.archive-title {
	padding-bottom: 0em;	
}

.author {
	float: right;	
}

h3.entry-title a {
	text-decoration: none;
}

h3.entry-title a:focus, 
h3.entry-title a:active, 
h3.entry-title a:hover {
	text-decoration: underline;
}

.hentry header {
	border-bottom: 0px;
	padding: 0em 1.5em 0.5em 1.5em;
}

.hentry footer {
	border-top: 1px solid $bgcolor1;
	padding: 0em 1.5em 0.5em 1.5em;
}

a.excerpt-read-more {
	@include btn-txt-internal;
	margin-top: 1em;
}

a.excerpt-read-more:hover  {
	@include btn-txt-internal-hover;
}

/* @end */


/* @group ARCHIVE-SUB */

.widget h3 {
	font-size: 1em;
	font-weight: bold;
	padding-left: 0px;
	margin-bottom: 0px;
}

.widget ul {
	margin-top: 0px;
}

ul.sub-article-list {
	margin-left: -1.2em;	
}

ul.sub-category-list {
	margin-left: -1.2em;	
}

.widget ul.sub-article-list li {
	margin-bottom: 0em;
	border-bottom: 1px solid #eee;
}

.sub-article-list li .postThumbnail {

}


.postThumbnail img {
	width: 100%;	
}

.sub-article-list li a {
	width: 99%;
	@include btn-thumbnail;
}

.sub-article-list li a:focus, 
.sub-article-list li a:active, 
.sub-article-list li a:hover {
	@include btn-thumbnail-hover;
}



.widget ul.sub-category-list li {
	margin-bottom: 0em;
	border-bottom: 1px solid #eee;
}

.sub-category-list li a {
	@include btn-txt-navi;
}

.sub-category-list li a:focus, 
.sub-category-list li a:active, 
.sub-category-list li a:hover {
	@include btn-txt-navi-hover;
}



	
	
/* @end */



/* @group SIDEBARS & ASIDES */

.widget-inner {
	float: left;
	margin-left: 2em;
	margin-top: 1em;
}

.fb-like-box {
	width: 210px;
	height: 600px;
}

ul#book-list {
	width: 210px;
}

ul#book-list li {
	border: 1px solid #aaa;
	padding: 10px;
	margin-bottom: -1px;
	background-color: #FFF;
}

ul#book-list li a {
	font-size: 80%;
	text-decoration: none;
}

ul#book-list li a:focus, 
ul#book-list li a:active, 
ul#book-list li a:hover {
	text-decoration: underline;
}

ul.sub-list-thumbnail {
	height: 66px;	
	margin-bottom: 0px;
}

ul.sub-list-thumbnail li {
	margin-right: 6px;
	float: left;
}

ul.sub-list-thumbnail li a {
	width: 66px;
	height: 66px;
	display: block;
}

ul.sub-list-thumbnail li a:focus, 
ul.sub-list-thumbnail li a:active, 
ul.sub-list-thumbnail li a:hover {
	@include hover-alpha;
}

.sns-tw {
	background: url('../images/btn-twitter.png') no-repeat;
}

.sns-fb {
	background: url('../images/btn-fb.png') no-repeat;
}

.sns-gp {
	background: url('../images/btn-gp.png') no-repeat;
}




	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}


/* @end */






/* @group FOOTER STYLES */



/* @end */






/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $keycolor3;
	color: $light-gray;
	min-height: 250px;
	@include bg-shadow;
}

.footer-column {
	margin-top: 20px;
	margin-right: 20px;
	float: left;
}

.footer-column .last {
	margin-right: 0px;
}

.footer-column h4 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
}

.footer-column li a {
	color: #666;
	text-decoration: none;
	font-size: 12px;
}

.footer-column li a:focus, 
.footer-column li a:active, 
.footer-column li a:hover {
	color: #ddd;
	text-decoration: underline;
}



/* @group Home */

.topMainColumn {
	min-height: 220px;
}

.topMainColumn h2 {
	margin-top: 0em;
	font-size: 1.3em;
}

.topMainColumn ul {

}
	
.topMainColumn ul li {
	width: 340px;
	min-height: 220px;
	margin-left: 1em;
	margin-bottom: 15px;
	float: left;
}

.topMainColumn ul li a.home-article {
	display: block;
	text-decoration: none;
}


.topMainColumn ul li a.home-article:focus,
.topMainColumn ul li a.home-article:active,
.topMainColumn ul li a.home-article:hover {
	@include hover-alpha;
	text-decoration: underline;
}

/* @end */






